
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: #fff;
  position: relative;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.btn {
  background: #ff6b2c;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 8%;
}

.hero-text h1 {
  font-size: 42px;
}

.hero-text span {
  color: #ff6b2c;
}

.hero-text p {
  margin: 15px 0;
  color: #666;
  margin-bottom: 50px;
}

.hero-text a{
  
 
  text-decoration: none;
  background-color: #f7f7f7;
  color: #ff6b2c;
  padding: 10px 20px;
  border:#ff6b2c solid 1px;
  border-radius: 5px;
}

.hero img {
  max-width: 100%;
  width: 800px;
  border-radius: 50%;
}


/* SEARCH */
.search {
  margin: 20px 8%;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.search select,
.search button {
  padding: 10px;
  border: none;
}

.search button {
  background: #ff6b2c;
  color: #fff;
}

/* SECTION TITLE */
.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title span {
  color: #ff6b2c;
}
.section-title p {
  color: #898989;
  font-size: 14px;
  margin-top: 10px;
}

/* FEATURES */
.features {
  padding: 60px 8%;
}

.feature-box {
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  text-align: center;
}
.card img{
  width:50px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.card h3{
  margin-bottom: 15px;
}
.card p{
  color: #a4a3a3;
  font-size: 14px;
  margin-bottom: 20px;
}
/* DEALS */
.destini {
  padding: 60px 8%;
}

.dest-box {
  display: flex;
  gap: 20px;
}

.dest {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}

.dest img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.dest h3 {
  padding: 10px;
}

.dest p {
  padding: 10px;
  font-size: 15px;
  color: #a4a3a3;
}



.contact {
  height: 400px;
  padding: 10px;
  align-items: center;
  margin: 60px 8%;
  background: #ff6b2c;
  padding: 40px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-bottom: 20px;
}

.contact input,
.contact textarea {
  padding: 10px;
  width: 350px;
  border: none;
  margin-bottom: 10px;
}
.contact textarea {
  height: 100px;
  resize: none;
}

.contact button {
  padding: 10px;
  border: none;
  background: #fff;
  color: #ff6b2c;
  width: 100px;
}

/* FOOTER */
.footer {
  padding: 40px 8%;
  font-style: italic;
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

/* MOBILE */
@media(max-width: 768px) {

.menu-icon {
  display: block;
}


.nav-links {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: #fff;
  flex-direction: column;
  text-align: center;
  display: none;
  padding: 20px 0;
}


#menu-toggle:checked ~ .nav-links {
  display: flex;
}

.hero {
  flex-direction: column;
  text-align: center;
}

.hero img {
  display: none;
}

.search {
  flex-direction: column;
  gap: 10px;
}

.feature-box,
.dest-box {
  flex-direction: column;
}
.contact input,
.contact textarea {
  
  width: 250px;
}

.footer {
  flex-direction: column;
  gap: 20px;
}


}


/* TABLET */
@media(max-width: 1024px) {

.menu-icon {
  display: block;
}


.nav-links {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: #fff;
  flex-direction: column;
  text-align: center;
  display: none;
  padding: 20px 0;
}


#menu-toggle:checked ~ .nav-links {
  display: flex;
}
.hero {
  flex-direction: column;
  text-align: center;
}

.hero img{
  margin-top: 30px;
  width: 500px;
  border-radius: 0px;
}
.feature-box,
.dest-box {
  flex-direction: column;
}
.contact input,
.contact textarea {
  
  width: 250px;
}

.footer {
  flex-direction: column;
  gap: 20px;
}
}
